@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap');

body {
    background-color: #fff;
    text-align: center;
    margin: 25px;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
  }
  
a {
    color:#fff;
  }
