/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins&family=Satisfy&display=swap');


html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background: rgb(181,202,227);
    background: -moz-linear-gradient(340deg, rgba(181,202,227,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(340deg, rgba(181,202,227,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(340deg, rgba(181,202,227,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b5cae3",endColorstr="#ffffff",GradientType=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
