<div class="content">
    <div class="row pt-2">
        <div class="col text-center">
            <div class="main">
                <span class="hours">{{hours}}</span><span class="minutes">{{minutes}}</span><span class="seconds">{{seconds}}</span>
            </div>
        </div>
    </div>
    <div class="button-row pt-2 text-center">
        <!-- <div class="col text-center"> -->            
            <button *ngIf="paused == 0" mat-raised-button color="primary" (click)="startTimer();">START</button>
            <button *ngIf="paused == -1" mat-raised-button color="primary" (click)="startTimer();">RESUME</button>
            <button *ngIf="paused > 0" mat-raised-button color="accent" (click)="pauseTimer();">PAUSE</button>
            <button *ngIf="state" mat-raised-button (click)="lapTimer();">LAP</button>
            <button mat-raised-button color="warn" (click)="resetTimer();">RESET</button>
        <!-- </div> -->
    </div>
    <!-- Sub Timers -->


    <!-- Laps Div -->
    <div class="row mt-5">
        <div class="col text-center">
            <h4>LAPS</h4>
        </div>
    </div>

    <div *ngFor="let lap of laps; let i = index" class="row row-laps" id="l_{{i}}">
        <div class="col">
            <div class="alert alert-light alert-dismissible fade show" role="alert">
            <strong>{{lap.name}}</strong>
            <button type="button" class="close" (click)="closeLap(i)" data-dismiss="alert" aria-label="Close" id="lx_{{i}}">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        </div>
    </div>

</div>